.projects-section {
  .project-cards-list {
    display: flex;
    flex-direction: column;
    gap: 20px;

    > * {
      animation: slide-in 0.1s;
      animation-timeline: view(block 50% 10%);
    }
  }
}
