.chatbot-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  .header {
    text-align: center;
  }

  .chat-input-form {
    min-width: 70%;
    margin-block: 1rem;
    padding: 10px;
    display: flex;
    gap: 1rem;
    align-items: center;
    height: 60px;
    border: 2px solid var(--teal-500);
    border-radius: 28px;
    .chat-input {
      margin: 0;
      width: 100%;
      * {
        height: 100%;
      }

      .ant-input.ant-input-outlined {
        border: none;
        &:focus,
        &:focus-visible,
        &:focus-within {
          box-shadow: none;
        }
      }
    }
    .send-prompt-button {
      border: none;
      background-color: var(--teal-500);
      color: var(--cream-100);

      &:disabled {
        background-color: var(--teal-200);
      }
      &:not(:disabled):hover {
        background: var(--teal-800);
        color: var(--cream-100);
      }
    }
  }

  .active-chat {
    width: 100%;
    padding-inline: 20px;
    & > *:nth-child(odd) {
      align-self: flex-end;
    }
    & > *:nth-child(even) {
      align-self: flex-start;
    }
    .chat-message {
      border-radius: 10px;
      display: flex;
      align-items: center;
      border: 2px solid var(--teal-200);
      height: 36px;
      width: fit-content;
      padding-inline: 10px;
    }
  }
  .prompt {
    background-color: var(--teal-200);
    color: var(--teal-800);
  }
  .chat-reply {
    border: var(--teal-500);
  }
}
