@keyframes rotate {
  from {
    transform: rotate(85deg);
  }
  to {
    transform: rotate(0deg) translateX(0);
  }
}

@keyframes slide-in {
  from {
    mask-image: linear-gradient(
      to bottom,
      transparent 0%,
      black 50%,
      transparent 100%
    );

    transform: translateX(200px);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scroll-rtl {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(50%);
  }
}
