@font-face {
  font-family: "Outfit";
  src: url("../../font/outfit/Outfit-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Assistant";
  src: url("../../font/Assistant/Assistant-VariableFont_wght.ttf");
}
