@font-face {
  font-family: "Outfit";
  src: url("../../font/outfit/Outfit-VariableFont_wght.ttf");
}

@font-face {
  font-family: "OpenSans";
  src: url("../../font/OpenSans/OpenSans-Italic-VariableFont_wdth\,wght.ttf");
}
