.navigation {
  display: flex;
  font-size: 40px;
  width: 100%;
  z-index: 1000;
  justify-content: end;
  position: fixed;
  top: 0;
  height: 80px;

  .top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .nav-menu {
      background: none;
      border-bottom: none;
      &::before,
      &::after {
        display: none;
      }

      li {
        font-size: 24px;
        &::before,
        &::after {
          display: none;
        }
      }
    }
  }

  .open-nav-drawer-button {
    font-size: 40px;
    align-self: center;
  }
}

.nav-menu {
  li {
    font-size: 24px;
    font-family: inherit;
    span {
      text-transform: lowercase;
    }

    :hover {
      color: var(--accent);
    }

    &.ant-menu-item-selected {
      span {
        color: var(--accent);
      }
    }
  }
}
