.navigation {
  display: flex;
  font-size: 40px;
  width: 100%;
  z-index: 1000;
  justify-content: end;
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;

  .top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .nav-menu {
      background: none;
      border-bottom: none;
      &::before,
      &::after {
        display: none;
      }

      li {
        font-size: 24px;
        &::before,
        &::after {
          display: none;
        }
      }
    }
  }

  .open-nav-drawer-button.ant-btn {
    font-size: 40px;
    align-self: center;
    color: inherit;
    &:hover {
      background: none;
      color: var(--teal-500);
    }
    &.drawer-open {
      color: var(--teal-500);
      opacity: 0;
      pointer-events: none;
      transform: rotate(-170deg) scale(0.4);
      transition: 0.3s;
    }
  }
}

.nav-menu {
  background: none;
  li {
    font-size: 24px;
    font-family: inherit;
    span {
      text-transform: lowercase;
    }

    :hover {
      color: var(--accent);
    }

    &.ant-menu-item-selected {
      span {
        color: var(--accent);
      }
    }
  }
}

.nav-drawer.ant-drawer-content {
  background-color: light-dark(var(--cream-100), var(--teal-800));
  .nav-menu {
    border: none;
    li {
      height: 48px;
      margin-block: 24px;
      span {
        font-size: 42px;
        color: light-dark(var(--teal-800), var(--cream-100));
      }
      &.ant-menu-item-selected {
        background: none;
        span {
          color: var(--accent);
        }
      }
    }
  }
  .preferences {
    padding-inline: 16px;
  }
}
