.navigation {
  background-color: black;
  font-size: 40px;
  width: 100%;
  z-index: 1000;
  > * {
    position: fixed;
    top: 0;
  }

  .top {
    background-color: var(--teal-200);
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
  }
}
