.hero {
  height: 500px;
  background: linear-gradient(160deg, var(--accent-bg) 0%, transparent 50%);
}

.rtl .hero {
  background: linear-gradient(
    to bottom left,
    var(--accent-bg) 0%,
    transparent 50%
  );
}
