.hero {
  height: 100%;
  display: flex;
  justify-content: center;

  .hero-content {
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-inline: 40px;
    gap: 24px;
    @media (min-width: 1000px) {
      gap: 36px;
      margin-inline: 80px;
      flex-direction: row-reverse;
      text-align: start;
    }

    .hero-img-container {
      max-width: 200px;
      @media (min-width: 1000px) {
        max-width: 280px;
      }
      img {
        animation: rotate 0.5s ease-in;
        object-position: 0px -20px;
        filter: brightness(120%);
        border-radius: 50%;
        border: 15px solid transparent;
        background: linear-gradient(
            to bottom right,
            var(--purple-400),
            transparent
          )
          border-box;
        box-shadow: var(--box-shadow);
        backdrop-filter: blur(5.1px);
        -webkit-backdrop-filter: blur(5.1px);
      }
    }
    .hero-content-text {
      max-width: 500px;
      flex-wrap: wrap;
      h1 {
        text-transform: uppercase;
        font-size: 48px;
        @media (min-width: 1000px) {
          font-size: 64px;
        }
      }

      .bio {
        font-size: 24px;
      }
    }
  }
}
